---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels:
    app: grafana
spec:
  selector:
    matchLabels:
      app: grafana
      tier: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: grafana
        tier: backend
    spec:
      containers:
        - name: grafana
          image: docker.io/grafana/grafana:5.4.3
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
          ports:
            - containerPort: 3000
