apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  labels:
    app: prometheus
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      tier: backend
  template:
    metadata:
      labels:
        app: prometheus
        tier: backend
    spec:
      containers:
        - name: prometheus
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 0
          image: cdugga/scaling-with-go-prometheus:1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 9090

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-main
  labels:
    app: prometheus
    tier: backend
spec:
  ports:
    - port: 9090
      targetPort: 9090
  selector:
    app: prometheus
   tier: backend