apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  labels:
    app: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 0
          image: cdugga/scaling-with-go-prometheus:1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 9090