global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
# - "first.rules"
# - "second.rules"

scrape_configs:
  - job_name: prometheus
    kubernetes_sd_configs:
      - role: service
        namespaces:
          names:
            - default
    static_configs:
      - targets:
          - localhost:9090
          - redis-client-svc:8081